# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Java
*.class
*.log
*.jar
!gradle-wrapper.jar
hs_err_pid*

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project
bin/

# OS
.DS_Store
Thumbs.db

# PicoLimbo
binaries/
server.toml
logs/
plugins/
world/
