name: Build and Release

on:
  push:
    branches:
      - main
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: "11"
          distribution: "temurin"

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: PicoLimboWrapper
          path: build/libs/PicoLimboWrapper.jar

      - name: Create Draft Release
        if: github.ref == 'refs/heads/main'
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          name: Draft Release ${{ github.sha }}
          tag_name: draft-${{ github.sha }}
          files: build/libs/PicoLimboWrapper.jar
          body: |
            ## Changes
            Automated draft release from commit ${{ github.sha }}

            Review and publish this release when ready.
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
